body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.videoFrame iframe {
  width: 100% !important;
  height: 385px;
}

.post-container {
  margin-bottom: 10;
  cursor: pointer;
}

.subreddit-name,
.author-name {
  font-size: 15px;
}

.subreddit-name {
  font-weight: bold;
}

.filter-group button {
  margin-right: 5px;
}

.replies-margin {
  margin-left: 30px !important;
}
